{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Swap</title>
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Image -->
    <img src="{% static 'assets/img/Untitled.png' %}" alt="Your Image" class="image">

    <!-- Main Container -->
    <div class="container">
        <h1>Skill<br>Swap</h1>
        <div class="button-container">
            <button>"Megatron didn’t rise by slacking—neither will you"</button>
            <button class="cta-button">Explore courses</button>
        </div>
    </div>
</body>
</html>
